@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Marlon Sodré de Souza</h1>
    <p>marlon.sodre@al.infnet.edu.br</p>
</div>

<br />
<br />
<br />

<div class="text-center">
    <h1 class="display-4">SaaS</h1>
    <p>Maneira de fornecer serviços por assinatura via internet, provendo manutenções e atualizações ao cliente.</p>
    <p>Ex: Azure, Gerenciamento de Software</p>
</div>

<br />
<br />
<br />

<div class="text-center">
    <h1 class="display-4">PaaS</h1>
    <p>Maneira de fornecer plataforma como serviço, facilitação no desenvolvimento sem a complicação de gerenciamento de infraestrutura.</p>
    <p>Ex: Ambiente de desenvolvimento</p>
</div>

<br />
<br />
<br />

<div class="text-center">
    <h1 class="display-4">laaS</h1>
    <p>Maneira de fornecer infraestrutura como serviço via internet.</p>
    <p>Ex: Servidor, Armazenamento</p>
</div>